<html>
  <head>
    <title>Long Range Autonomous Vehicle Data Visualization</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body style="padding-top: 75px">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        {% include "navbar.html" %}
        <div class="container">
          <h1>Lookup Data Readings from Your Autonomous Vehicle</h1>
          <a href="./stop" class="button btn btn-danger" style="float: right">Stop Robot</a>
          <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="active"><a data-toggle="tab" role="tab" aria-controls="mapsView" href="#mapsView" style="color: #008e00;">Maps View</a></li>
            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="poseView" href="#poseView" style="color: #008e00;">Pose View</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" id="mapsView" class="tab-pane fade in active">
              {% with latest_coords=latest_coords, coords=coords %}
              {% include "mapsView.html" %}
              {% endwith %}
            </div>
            <div role="tabpanel" id="poseView" class="tab-pane fade">
              {% with poses=poses %}
              {% include "poseView.html" %}
              {% endwith %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
