<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 75%;
      }
    </style>
  </head>
  <body>
  <div class="container">
    <h3>Robot Position Superimposed on Google Maps</h3>
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-8">
            <div id="map"></div>
          </div>
          <div class="col-md-4">
            <table id="coordsTable" class="table">
              <tr>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
              <table id="coordsTableContent" class="table">
              </table>
            </table>
            <script>
              var map;
              var marker;
              var robotPath;
              var latest = {{ latest_coords|safe }};
              var coords = {{ coords|safe }};
              var coords = {{ coords|safe }};

              function initMap() {
                // center and marker will be the latest data
                map = new google.maps.Map(document.getElementById('map'), {
                  center: latest,
                  zoom:18
                });

                var robotRoute = coords;

                robotPath = new google.maps.Polyline({
                  path: robotRoute,
                  geodesic: true,
                  strokeColor: '#FF0000',
                  strokeOpacity: 1.0,
                  strokeWeight: 2
                });

                marker = new google.maps.Marker({
                  position: latest,
                  map: map,
                  title: 'Current Position'
                });

                robotPath.setMap(map);
              }

              var renderedString = coords.reduce(function (alreadyRendered, point) {
                return alreadyRendered +
                  '<tr><td>' + point.lat + '</td><' +
                  '<td>' + point.lng + '</td></tr>';
              }, '');

              $('#coordsTableContent').html(renderedString);
    
              function updateCoords() {
                $.ajax({
                  url:"/updateCoords",
                  type:"GET",
                  success: function(data) {
                    latest_coords = data[0]
                    coords = data[1]

                    marker.setPosition(latest_coords);
                    robotPath.setPath(coords);
                    map.setCenter(latest_coords);

                    var renderedString = coords.reduce(function (alreadyRendered, point) {
                      return alreadyRendered +
                        '<tr><td>' + point.lat + '</td><' +
                        '<td>' + point.lng + '</td></tr>';
                    }, '');
                    $('#coordsTableContent').html(renderedString);
                  }
                })
              };

              setInterval("updateCoords()", 5000);
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9b0RMOGttF3-9ETSpjfIBFPAH9O-CUqA&callback=initMap"
            async defer></script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
